@use './mixins' as *;

// ABOUT SECTION
.about{
    h2{
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: clamp(2rem, 2vw, 3rem);
        padding: 1rem 0;
    }

    h2::before{
        @include borderAnim;
        bottom: -20px;
    }
}

.aboutContainer{
    position: relative;
    padding: 80px 0 40px 0;
    flex-wrap: wrap;
    figure{
        flex-basis: 45%;
        padding-right: 5%;
        min-width: 400px;
        img{
            border-radius: 10px;
        }
    }
    figure::before{
        content: '';
        position: absolute;
        top:75px;
        left: 450px;
        width: 0;
        border-right: solid 1px #000;
        animation: border_anim_Down_C 3s linear forwards;
    }
    
}

.aboutText{
    flex-basis: 50%;
    flex-direction: column;
}

.aboutTextContainer{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.innovation{
    margin-top: 10px;
}

.connection{
    margin-top: 20px;
}

.aboutTextContainer::before{
    @include borderAnim;
    top: 10px;
}

.aboutContainer::before{
    @include borderAnim;
    bottom: -20px;
}