@use './mixins' as *;

// CONTACT
.contact{
    margin: 80px 0;
    position: relative;
    h2{
        text-transform: uppercase;
        font-size: 1rem;
        font-family: 'Abel', sans-serif;
        font-weight: 100;
        margin-bottom: 10px;
    }
    .creating{
        font-size: clamp(2rem, 2vw, 3rem);
        padding-bottom: 10rem;
        font-weight: 600;
    }
}

.contactContainer{
    position: relative;
}

.contactContainer::before{
    @include borderAnim;
    bottom: -50px;
}

.contactTitle{
    flex-basis: 35%;
    margin-right: 5%;
    position: relative;
    .resume{
        width: 83px;
    }
}

.contactTitle::after{
    @include borderAnimDown;
    right: -30px;
}

.contactNav{
    width: 35%;
}

.contactSocials{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 30px 0;
}

.contact{
    form{
        flex-basis: 60%;
        flex-direction: column;
        padding-top: 60px;
        input{
            background-color: inherit;
            color: black;
            border: none;
            border-bottom: 1px solid black;
            margin-bottom: 50px;
        }

        textarea{
            resize: none;
            height: 200px;
            border: none;
            border-bottom: 1px solid black;
            background-color: inherit;
            margin-bottom: 20px;
        }

        button{
            width: 75px;
        }
    }
}