@use './mixins' as *;

// NAVIGATION MENU STYLING
.skip {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 10px 15px;
    background-color: black;
    color: white;
    opacity: 0;
    border-radius: 5px;
  }
  .skip:focus {
    left: 35%;
    top: -5px;
    transform: translateX(-50%);
    opacity: 1;
  }

.headerNav{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 40px auto;
    position: relative;

    .logo{
        display: flex;
        flex-basis: 45%;
        figure{
            margin-top: -10px;
        }
        p{
            margin-left: 10px;
            font-weight: bold;
        }
    }

    nav{
        flex-basis: 40%;
    }

    .navFlex{
        display: flex;
        justify-content: space-between;
        padding-right: 3%;
        border-right: 1px solid black;
        a{
            line-height: 32px;
        }
        button{
            padding: 2px 6px;
        }
    }
    .navIcons{
        display: none;
    }

    .socialsNav{
        flex-basis: 13%;
    }

    .socialsLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
}

.circle{
    a{
        line-height: 32px;
        @include circle;
    }
    a:hover,
    a:focus{
        color: #fdfbf5;
        @include circle;
        background-color: #000;
    }
}

.headerNav::before{
    @include borderAnim;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}


// HEADER HERO STYLING
.hero{
    padding: 40px 0;
    position: relative;
    .headerTitle{
        flex-direction: column;
        flex-basis: 50%;
        margin-right: 5%;
        h1{
            font-size: clamp(3rem, 2vw, 4rem);
            padding-bottom: 5px;
        }
        p{
            font-size: clamp(1rem, 2vw, 1.5rem);
            padding-bottom: 250px;
        }
        figure{
            height: 50px;
            width: 50px;
            img{
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
                transform-style: preserve-3d;
                opacity: 1;
            }
        }
    }
    figure{
        flex-basis: 45%;
        height: 100%;
        img{
            border-radius: 15px;
        }
    }
}

.hero::before{
    @include borderAnim;
}