
@media (max-width: 950px) {
    // HEADER HERO
    .hero{
        .headerTitle{
            p{
                padding-bottom: 150px;
            }
        }
    }
    // SKILLS SECTION
    .techSkills{
        li{
            padding-right: 30px;
        }
    }

    .soft{
        .softUl{
            .flexContainer{
                flex-basis: 100%;
                // position: relative;
            }
            // .flexContainer::before{
            //     @include borderAnim;
            // }
                // ADD IN BORDER ANIMATION BOTTOM HERE
            .softSkills{
                flex-basis: 25%;
            }
            .bottom{
                padding-bottom: 60px;
            }
            .triangles{
                flex-basis: 30%;
            }
        }
    }

    // PROJECTS SECTION
    .projectsTitle{
        margin-right: 12%;
    }

    .featuredProjects{
        flex-basis: 45%;
        .bottomProjects{
            flex-direction: column;
        }
    }

    .shoeKloset, .arora{
        margin-bottom: 5%;
    }

    // CONTACT SECTION
    .contactTitle{
        margin-right: 5%;
    }
    
    .contactTitle::after{
        right: -20px;
    }

    // ABOUT SECTION
    .aboutContainer{
        flex-direction: column;
        figure{
            margin-bottom: 40px;
        }
        figure::before{
            border: none;
        }
    }

}

@media (max-width:900px){
    // HAMBURGER MENU STARTS HERE
    .headerNav{
        .socialsLinks{
            flex-basis: 20%;
        }

        .navFlex{
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #fdfbf5;
            border: 2px solid black;
            padding: 2rem;
            position: absolute;
            transform: translateY(-140%);
            transition: transform 0.2s;
            top: 20px;
            left: 0;
            z-index: 20;
            li{
                width: 100%;
                padding-bottom: 15px;
                button{
                    margin: 30px 0 1px 0;
                    width: 100%;
                }
            }
            .hamBorder{
                border-bottom: 1px solid black;
            }
            }
    
        .navIcons{
        padding: 0 10px 10px 200px;
        display: block;
        border: none;
        background-color: #fdfbf5;
        font-size: 1.5rem;
        cursor: pointer;
        .fa-times{
            display: none;
        }
        }
    
        .shown {
            transform: translateY(15%);
        }
    }
}

@media (max-width: 550px) {  

    
    
    // HEADER HERO
    .hero{
        flex-direction: column;
        .headerTitle{
            position: relative;
            p{
                padding-bottom: 20px;
            }
            figure{
                position: absolute;
                top: 290px;
                left: 85%;
            }
        }
    }

    // SKILLS SECTION
    .techSkills{
        li{
            padding-right: 0;
        }
    }

    .skills{
        .techStack{
            padding-bottom: 30px;
        }
        .techSkills{
            justify-content: space-evenly;
        }
        .tech{
            flex-direction: column;
        }
        .techStack::after{
            border: none;
        }
        .mediaSkills{
            width: 40%;
            padding-bottom: 30px;
            figure{
                margin: 0 auto;
            }
        }
        .skillsLeft{
            padding: 0 2% 0 3%;
        }
    }



}

@media (max-width: 320px) {

}