@mixin circle{
    border: 1px solid black;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

@mixin borderAnim {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 0;
    border-bottom: solid 1px #000;
    animation: border_anim 3s linear forwards;
}

@mixin borderAnimDown{
    content: '';
        position: absolute;
        top: 0;
        right: 40px;
        width: 0;
        border-right: solid 1px #000;
        animation: border_anim_Down 3s linear forwards;
}