@use './mixins' as *;

// PROJECTS SECTION
.projects{
    margin: 80px 0;
}

.projectsContainer{
    position: relative;
    flex-wrap: wrap;
}

.projectsContainer::before{
    @include borderAnim;
    bottom: -50px;
}

.projectsTitle{
    flex-basis: 35%;
    margin-right: 5%;
    height: 100%;
    z-index: 10;
    position: sticky;
    top: 3rem;
    h2{
        font-size: clamp(3rem,2vw,2rem);
        padding-bottom: 10px;
    }
    p{
        width: 70%;
    }
}
//  dont forget to add BORDER RIGHT

.featuredProjects{
    flex-direction: column;
    flex-basis: 60%;
    img{
        border-radius: 10px;
    }
    .projectInfo{
        justify-content: space-between;
        width: 100%;
        .projectExpand{
            button{
                background-color: inherit;
                border: none;
                .fa{
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
        }
    }
    .dropDown {
        .textDD{
            margin: 10px 0;
        }
        .number{
            border: 1px solid black;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            line-height: 25px;
            text-align: center;
            padding: 3px;
            margin:5px 2% 0 0;
        }
        .buttonDD{
            justify-content: space-evenly;
            .live{
                margin-right: 2%;
            }
        }
    }
}

.comfortJournal{
    margin-bottom: 5%;
}

.shoeKloset{
    flex-basis: 48.5%;
    margin-right: 3%;
}

.arora{
    flex-basis: 48.5%;
    figure{
        img{
            width: 95.5%;
        }
    }
}



// add in borders ever where 
// add in cursor feature over images 
