html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  color: #0D0D0D;
  background-color: #fdfbf5;
}

body {
  border: 1px solid black;
  margin: 15px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p, a, li, button {
  font-family: "Abel", sans-serif;
  font-size: clamp(1rem, 2vw, 0.8rem);
  margin: 0;
}

li, a {
  text-transform: uppercase;
  color: black;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

input, label, textarea {
  font-family: "Roboto Mono", monospace;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 40px auto;
  position: relative;
}
.headerNav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.headerNav .logo figure {
  margin-top: -10px;
}
.headerNav .logo p {
  margin-left: 10px;
  font-weight: bold;
}
.headerNav nav {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.headerNav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3%;
  border-right: 1px solid black;
  /*button:before (attr data-hover)*/
  /*button div (button text before hover)*/
}
.headerNav .navFlex a {
  line-height: 32px;
}
.headerNav .navFlex button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  position: relative;
  overflow: hidden;
}
.headerNav .navFlex button:hover,
.headerNav .navFlex button:focus {
  cursor: pointer;
}
.headerNav .navFlex button:hover:before,
.headerNav .navFlex button:focus:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.headerNav .navFlex button:before {
  content: attr(data-hover);
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  opacity: 0;
  color: #fdfbf5;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.headerNav .navFlex button:hover div,
.headerNav .navFlex button:focus div {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.headerNav .navFlex button div {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fdfbf5;
}
.headerNav .socialsLinks {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.circle a {
  line-height: 32px;
}

.circle:hover,
.circle:focus {
  background-color: #000;
}
.circle:hover a,
.circle:focus a {
  color: #fdfbf5;
}

.headerNav:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hero {
  padding: 40px 0;
  position: relative;
}
.hero .headerTitle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 5%;
}
.hero .headerTitle h1 {
  font-size: clamp(4rem, 2vw, 2rem);
  padding-bottom: 5px;
}
.hero .headerTitle p {
  font-size: clamp(1.5rem, 2vw, 1rem);
  padding-bottom: 250px;
}
.hero .headerTitle figure {
  height: 50px;
  width: 50px;
}
.hero .headerTitle figure img {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1;
}
.hero figure {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 100%;
}
.hero figure img {
  border-radius: 15px;
}

.hero:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

.skills {
  margin-top: 80px;
}
.skills .tech {
  position: relative;
}
.skills .techStack {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-transform: uppercase;
}
.skills .techSkills {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
.skills .techSkills p {
  font-size: 0.6rem;
}
.skills figure {
  height: 70px;
  width: 70px;
}

.tech:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -50px;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.soft {
  margin-top: 80px;
  position: relative;
}
.soft .softSkillsP {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-right: 5%;
  text-transform: uppercase;
}
.soft .softUl {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.soft .softUl h3 {
  text-transform: uppercase;
}
.soft .softUl p {
  text-transform: none;
}
.soft .softUl .softSkills {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 85px;
  padding-right: 10%;
  text-transform: uppercase;
}
.soft .softUl .triangles {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.soft .softUl .flexContainer {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}
.soft .softUl .peer,
.soft .softUl .accessibility {
  margin-right: 5%;
}
.soft .softUl .top {
  padding-bottom: 60px;
}
.soft .softUl .top:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

@media (max-width: 950px) {
  .uploadedEntries {
    height: 59rem;
  }
}