html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  color: #0D0D0D;
  background-color: #fdfbf5;
}

body {
  border: 1px solid black;
  margin: 15px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  padding: 5px 8px;
  display: inherit;
  position: relative;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.buttonHover {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  opacity: 0;
  color: #fdfbf5;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.hoverAnim {
  -webkit-transform: translate(8%, 0);
          transform: translate(8%, 0);
  opacity: 1;
}

.button:hover .buttonInnerText,
.button:focus .buttonInnerText {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.button .buttonInnerText {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fdfbf5;
}

.number {
  font-family: "Roboto Mono", monospace;
  border: 1px solid black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  line-height: 25px;
  text-align: center;
  padding: 3px;
  margin-right: 2%;
}

button:visited {
  color: #000;
}

button {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p, a, li, button {
  font-family: "Abel", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0;
}

li, a {
  text-transform: uppercase;
  color: black;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

input, label, textarea {
  font-family: "Roboto Mono", monospace;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.skip {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 10px 15px;
  background-color: black;
  color: white;
  opacity: 0;
  border-radius: 5px;
}

.skip:focus {
  left: 35%;
  top: -5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 40px auto;
  position: relative;
}
.headerNav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.headerNav .logo figure {
  margin-top: -10px;
}
.headerNav .logo p {
  margin-left: 10px;
  font-weight: bold;
}
.headerNav nav {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.headerNav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3%;
  border-right: 1px solid black;
}
.headerNav .navFlex a {
  line-height: 32px;
}
.headerNav .navFlex button {
  padding: 2px 6px;
}
.headerNav .navIcons {
  display: none;
}
.headerNav .socialsNav {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
}
.headerNav .socialsLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle a {
  line-height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
.circle a:hover,
.circle a:focus {
  color: #fdfbf5;
  border: 1px solid black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: inline-block;
  background-color: #000;
}

.headerNav::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hero {
  padding: 40px 0;
  position: relative;
}
.hero .headerTitle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 5%;
}
.hero .headerTitle h1 {
  font-size: clamp(3rem, 2vw, 4rem);
  padding-bottom: 5px;
}
.hero .headerTitle p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding-bottom: 250px;
}
.hero .headerTitle figure {
  height: 50px;
  width: 50px;
}
.hero .headerTitle figure img {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1;
}
.hero figure {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 100%;
}
.hero figure img {
  border-radius: 15px;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

.skills {
  margin-top: 80px;
}
.skills .tech {
  position: relative;
}
.skills .tech h2 {
  font-size: 1rem;
  font-family: "Abel", sans-serif;
}
.skills .techStack {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-transform: uppercase;
  position: relative;
}
.skills .techStack::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
}
@-webkit-keyframes border_anim_Down {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes border_anim_Down {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.skills .techSkills {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
.skills .techSkills p {
  font-size: 0.6rem;
  text-align: center;
}
.skills figure {
  height: 70px;
  width: 70px;
}

.tech::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -50px;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.soft {
  margin-top: 80px;
  position: relative;
}
.soft h2 {
  font-size: 1rem;
  font-family: "Abel", sans-serif;
}
.soft .softSkillsP {
  position: relative;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding-right: 5%;
  text-transform: uppercase;
}
.soft .softSkillsP::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
}
.soft .softUl {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.soft .softUl h3 {
  text-transform: uppercase;
}
.soft .softUl p {
  text-transform: none;
}
.soft .softUl .softSkills {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 85px;
  padding-right: 10%;
  text-transform: uppercase;
}
.soft .softUl .triangles {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.soft .softUl .flexContainer {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}
.soft .softUl .peer,
.soft .softUl .accessibility {
  margin-right: 5%;
}
.soft .softUl .top {
  padding-bottom: 60px;
}
.soft .softUl .top::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}

.projects {
  margin: 80px 0;
}

.projectsContainer {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -50px;
}

.projectsTitle {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-right: 5%;
  height: 100%;
  z-index: 10;
  position: sticky;
  top: 3rem;
}
.projectsTitle h2 {
  font-size: clamp(2rem, 2vw, 3rem);
  padding-bottom: 10px;
}
.projectsTitle p {
  width: 70%;
}

.featuredProjects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.featuredProjects img {
  border-radius: 10px;
}
.featuredProjects .projectInfo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.featuredProjects .projectInfo h3 {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  display: inline;
}
.featuredProjects .projectInfo .projectExpand button {
  background-color: inherit;
  border: none;
}
.featuredProjects .projectInfo .projectExpand button .fa {
  font-size: 1.3rem;
  cursor: pointer;
}

#journalDDClose,
#triviaDDClose,
#galleryDDClose {
  display: none;
}

.dropDownGallery {
  display: none;
}
.dropDownGallery .textDD {
  margin: 10px 0;
}
.dropDownGallery .buttonDD {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.dropDownGallery .buttonDD .live {
  margin-right: 2%;
}

.dropDownTrivia {
  display: none;
  width: 200%;
}
.dropDownTrivia .textDD {
  margin: 10px 0;
}
.dropDownTrivia .buttonDD {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.dropDownTrivia .buttonDD .live {
  margin-right: 2%;
}

.dropDownComfort {
  display: none;
  width: 200%;
  position: relative;
  right: 100%;
}
.dropDownComfort .textDD {
  margin: 10px 0;
}
.dropDownComfort .buttonDD {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.dropDownComfort .buttonDD .live {
  margin-right: 2%;
}

.ddShown {
  display: block;
}

.designGallery {
  margin-bottom: 5%;
}

.trivialPursuit {
  -ms-flex-preferred-size: 48.5%;
      flex-basis: 48.5%;
  margin-right: 3%;
}

.comfortJournal {
  -ms-flex-preferred-size: 48.5%;
      flex-basis: 48.5%;
}

.designProjectsTitle h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2rem, 2vw, 3rem);
  padding: 1rem 0;
  width: 100%;
}
.designProjectsTitle h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -20px;
}

.designProjects {
  padding: 80px 0 40px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.designProjects .monarch {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  margin-right: 2%;
  position: relative;
}
.designProjects .monarch figure {
  padding-bottom: 15px;
}
.designProjects .monarch figure img {
  border-radius: 10px;
}
.designProjects .monarch h3 {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding-bottom: 5px;
}
.designProjects .monarch p {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2rem;
}
.designProjects .monarch::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
  right: -35px;
}
.designProjects .casssette {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  margin-right: 2%;
  position: relative;
}
.designProjects .casssette figure {
  padding-bottom: 15px;
}
.designProjects .casssette figure img {
  border-radius: 10px;
}
.designProjects .casssette h3 {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding-bottom: 5px;
}
.designProjects .casssette p {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2rem;
}
.designProjects .casssette::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
  right: -35px;
}
.designProjects .tour {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}
.designProjects .tour figure {
  margin-bottom: 20px;
}
.designProjects .tour figure img {
  border-radius: 10px;
}
.designProjects .tour h3 {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding-bottom: 5px;
}
.designProjects .tour p {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2rem;
}

.designProjects::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -20px;
}

.contact {
  margin: 80px 0;
  position: relative;
}
.contact h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}
.contact .creating {
  font-size: clamp(2rem, 2vw, 3rem);
  padding-bottom: 10rem;
  font-weight: 600;
}

.contactContainer {
  position: relative;
}

.contactContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -50px;
}

.contactTitle {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-right: 5%;
  position: relative;
}
.contactTitle .resume {
  width: 83px;
}

.contactTitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
  right: -30px;
}

.contactNav {
  width: 35%;
}

.contactSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0 30px 0;
}

.contact form {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}
.contact form input {
  background-color: inherit;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.contact form textarea {
  resize: none;
  height: 200px;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  margin-bottom: 20px;
}
.contact form button {
  width: 75px;
}

.about h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2rem, 2vw, 3rem);
  padding: 1rem 0;
}
.about h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -20px;
}

.aboutContainer {
  position: relative;
  padding: 80px 0 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutContainer figure {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 5%;
  min-width: 400px;
}
.aboutContainer figure img {
  border-radius: 10px;
}
.aboutContainer figure::before {
  content: "";
  position: absolute;
  top: 75px;
  left: 450px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down_C 3s linear forwards;
          animation: border_anim_Down_C 3s linear forwards;
}

.aboutText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutTextContainer {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.innovation {
  margin-top: 10px;
}

.connection {
  margin-top: 20px;
}

.aboutTextContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  top: 10px;
}

.aboutContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  border-bottom: solid 1px #000;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
  bottom: -20px;
}

footer {
  margin: 80px 0;
}

.footerLeft {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  position: relative;
}
.footerLeft .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-bottom: 80px;
}
.footerLeft .logo figure {
  margin-top: -10px;
}
.footerLeft .logo p {
  margin-left: 10px;
  font-weight: bold;
}

.footerLeft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 40px;
  width: 0;
  border-right: solid 1px #000;
  -webkit-animation: border_anim_Down 3s linear forwards;
          animation: border_anim_Down 3s linear forwards;
}

.footerSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0 30px 0;
}

.navMenu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footerNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
}
.footerNavFlex .button {
  width: 101px;
}

@media (max-width: 1190px) {
  .skip:focus {
    left: 30%;
  }
  .contactNav {
    width: 40%;
  }
}
@media (max-width: 950px) {
  .hero .headerTitle p {
    padding-bottom: 150px;
  }
  .techSkills li {
    padding-right: 30px;
  }
  .soft .softUl .flexContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .soft .softUl .softSkills {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .soft .softUl .bottom {
    padding-bottom: 60px;
  }
  .soft .softUl .triangles {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .projectsTitle {
    margin-right: 12%;
  }
  .featuredProjects {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .featuredProjects .bottomProjects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trivialPursuit,
  .comfortJournal {
    margin-bottom: 5%;
  }
  .dropDownTrivia,
  .dropDownComfort {
    width: 100%;
  }
  .dropDownComfort {
    position: static;
  }
  .contactTitle {
    margin-right: 5%;
  }
  .contactTitle::after {
    right: -20px;
  }
  .contactNav {
    width: 50%;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer figure {
    margin-bottom: 40px;
    min-width: 1px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }
  .aboutContainer figure::before {
    border: none;
  }
  .footerSocials {
    width: 50%;
  }
  .footerSocials li {
    margin-right: 2px;
  }
}
@media (max-width: 900px) {
  .headerNav .socialsNav {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .headerNav .navFlex {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fdfbf5;
    border: 2px solid black;
    padding: 2rem;
    position: absolute;
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    top: 20px;
    left: 0;
    z-index: 20;
  }
  .headerNav .navFlex li {
    width: 100%;
    padding-bottom: 15px;
  }
  .headerNav .navFlex li button {
    margin: 30px 0 1px 0;
    width: 100%;
  }
  .headerNav .navFlex .hamBorder {
    border-bottom: 1px solid black;
  }
  .headerNav .navIcons {
    color: black;
    padding: 0 10px 10px 200px;
    display: block;
    border: none;
    background-color: #fdfbf5;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .headerNav .navIcons .fa-times {
    display: none;
  }
  .headerNav .shown {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .contactTitle {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-right: 5%;
  }
}
@media (max-width: 760px) {
  .skip:focus {
    left: 45%;
    top: 0;
  }
  .headerNav nav {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .headerNav .socialsLinks {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .headerNav .socialsLinks li {
    margin-right: 2px;
  }
  .skills .techStack::after {
    right: 20px;
  }
  .projectsTitle {
    position: static;
    top: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    padding-bottom: 20px;
  }
  .featuredProjects {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .designProjects .monarch::after {
    right: -25px;
  }
  .designProjects .casssette::after {
    right: -25px;
  }
  .contactNav {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .headerNav .navIcons {
    padding: 0 10px 10px 110px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .headerTitle {
    position: relative;
  }
  .hero .headerTitle p {
    padding-bottom: 20px;
  }
  .hero .headerTitle figure {
    position: absolute;
    top: 290px;
    left: 85%;
  }
  .techSkills li {
    padding-right: 0;
  }
  .skills .techStack {
    padding-bottom: 30px;
  }
  .skills .techSkills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skills .tech {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills .techStack::after {
    border: none;
  }
  .skills .mediaSkills {
    width: 40%;
    padding-bottom: 30px;
  }
  .skills .mediaSkills figure {
    margin: 0 auto;
  }
  .skills .skillsLeft {
    padding: 0 2% 0 3%;
  }
  .designProjects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .designProjects .monarch {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .designProjects .monarch::after {
    border-right: none;
  }
  .designProjects .casssette {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    position: relative;
    border-right: 0;
    margin-bottom: 30px;
  }
  .designProjects .casssette::after {
    border-right: none;
  }
  .designProjects .tour {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    position: relative;
    border-right: 0;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactTitle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
  .contactTitle::after {
    border: none;
  }
  .contact h2 {
    padding-bottom: 2rem;
  }
  .contactSocials {
    width: 30%;
  }
  .footerLeft::after {
    right: 20px;
  }
}
@media (max-width: 500px) {
  .skip:focus {
    left: 25%;
    top: 0;
  }
  .soft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .soft .softSkillsP {
    padding-bottom: 30px;
  }
  .soft .softSkillsP::after {
    border: none;
  }
  .footerSocials {
    width: 75%;
  }
  .footerLeft {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 430px) {
  .footerLeft {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
@media (max-width: 350px) {
  .headerNav .logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .headerNav .socialsLinks {
    display: none;
  }
  .hero .headerTitle figure {
    height: 30px;
    width: 30px;
    top: 250px;
  }
  .contactSocials {
    width: 40%;
    padding-bottom: 15px;
  }
  .contact form textarea {
    height: 70px;
  }
  .footerFlex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerLeft .logo p {
    margin-left: 2px;
  }
  .footerSocials {
    width: 85%;
  }
  .footerLeft::after {
    right: 0px;
  }
  .footerNavFlex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footerDiamond {
    display: none;
  }
}